@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');  
        
body{
  margin: 0;
  font-size: 20px;  
      font-family: 'Gugi', cursive;
      font-weight: 400;
      text-align:center;
}
b{
  text-align:none;
  color: aliceblue;
}



.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(167, 220, 202);
  padding: 8px 12px;
}

.navbar__logo{
  font-size: 24px;
  color: aliceblue;
}
.navbar__logo i{
  color: rgb(113, 113, 177);
}

.navbar__menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li{
  padding: 8px 12px;
}
.navbar__menu li:hover{
  background-color: rgb(169, 237, 215);
  border-radius: 4px;
}
.navbar__icons{
  list-style: none;
  color: aliceblue;
  display: flex;
  padding-left: 0;
}

.navbar__icons li{
  padding: 8px 12px;
}
.navbar__toogleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: rgb(113, 113, 177);
}
@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }
  .navbar__menu{
    display: none;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }
  .navbar__menu li{
    width: 100%;
    text-align: center;
  }
  .navbar__icons{
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toogleBtn{
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}